Repository iron-fish/ironfish, pull requests merged in 2024-07, with the labels that each got.

#5127 Worker pool: use the transfer feature and shared buffers for message posting
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/src/structs/note_encrypted.rs
  ironfish-rust-nodejs/tests/demo.test.slow.ts
  ironfish-rust/src/keys/view_keys.rs
  ironfish/src/primitives/noteEncrypted.ts
  ironfish/src/rpc/routes/wallet/utils.ts
  ironfish/src/wallet/scanner/noteDecryptor.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/workerPool/tasks/decryptNotes.test.ts
  ironfish/src/workerPool/tasks/decryptNotes.ts
  ironfish/src/workerPool/tasks/workerMessage.ts
  ironfish/src/workerPool/tasks/workerMessages.test.perf.ts
  ironfish/src/workerPool/worker.ts
Labels: perf-improvement

#5131 fixes stateManager persistence
  ironfish-cli/src/commands/evm/persist-state.ts
  ironfish/src/blockchain/database/blockchaindb.ts
  ironfish/src/evm/stateManager.ts
Labels: EVM

#5128 Use a sparse array in `DecryptNotesResponse`
  ironfish/src/rpc/routes/wallet/utils.ts
  ironfish/src/wallet/scanner/noteDecryptor.ts
  ironfish/src/wallet/wallet.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/tasks/decryptNotes.test.ts
  ironfish/src/workerPool/tasks/decryptNotes.ts
Labels: perf-improvement

#5134 Rahul/ifl 2763 add solidity contract to ironfish
  .gitignore
  ironfish-contracts/README.md
  ironfish-contracts/contracts/Ironfish.sol
  ironfish-contracts/hardhat.config.ts
  ironfish-contracts/package.json
  ironfish-contracts/test/Ironfish.ts
  ironfish-contracts/tsconfig.json
Labels: EVM

#5085 Evm verification checks
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/__fixtures__/verifier.evm.test.slow.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.evm.test.ts.fixture
  ironfish/src/consensus/verifier.evm.test.slow.ts
  ironfish/src/consensus/verifier.evm.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/evm/evm.ts
  ironfish/src/testUtilities/fixtures/blocks.ts
Labels: EVM

#5135 Optimize `WalletDB.loadNoteHash()` to avoid hitting the database if the note nullifier is known to be absent
  ironfish/src/utils/bloomFilter.test.ts
  ironfish/src/utils/bloomFilter.ts
  ironfish/src/wallet/walletdb/__fixtures__/walletdb.test.ts.fixture
  ironfish/src/wallet/walletdb/walletdb.test.ts
  ironfish/src/wallet/walletdb/walletdb.ts
Labels: perf-improvement

#5137 Update events for UTXO <> EVM interactions
  ironfish/src/consensus/verifier.ts
  ironfish/src/evm/evm.ts
  ironfish/src/evm/global_contract.ts
Labels: EVM

#5109 adds IronfishEvm methods to simulate tx execution
  ironfish/src/evm/__fixtures__/evm.test.ts.fixture
  ironfish/src/evm/database.ts
  ironfish/src/evm/evm.test.ts
  ironfish/src/evm/evm.ts
Labels: EVM

#5138 updating bidirectional mapping for asset to contract/token
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/database/blockchaindb.ts
  ironfish/src/blockchain/schema.ts
Labels: EVM

#5132 add stateCommitment to block header
  ironfish/src/blockHasher.test.ts
  ironfish/src/blockHasher.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/database/headers.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/evm/evm.ts
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/manager.ts
  ironfish/src/network/utils/serializers.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/rpc/routes/miner/submitBlock.ts
  ironfish/src/serde/BlockTemplateSerde.ts
Labels: EVM

#5136 Decode Shield Events in Verifier
  ironfish-cli/src/commands/evm/deploy-contract.ts
  ironfish-cli/src/commands/evm/global_contract.ts
  ironfish-contracts/contracts/Ironfish.sol
  ironfish-contracts/test/Ironfish.ts
  ironfish/src/consensus/__fixtures__/verifier.evm.test.slow.ts.fixture
  ironfish/src/consensus/verifier.evm.test.slow.ts
  ironfish/src/evm/evm.ts
  ironfish/src/evm/globalContract.ts
  ironfish/src/evm/global_contract.ts
  ironfish/src/evm/index.ts
  ironfish/src/index.ts
Labels: EVM

#5140 executes evm transactions on blocks
  ironfish-cli/src/commands/evm/getAccount.ts
  ironfish-cli/src/commands/evm/putAccount.ts
  ironfish-cli/src/commands/evm/sendTransaction.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/database/blockchaindb.ts
  ironfish/src/consensus/verifier.evm.test.slow.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/evm/evm.ts
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/primitives/index.ts
Labels: EVM

#5155 manager verifies evm transactions during template construction
  ironfish/src/mining/__fixtures__/manager.test.slow.ts.fixture
  ironfish/src/mining/manager.test.slow.ts
  ironfish/src/mining/manager.ts
Labels: EVM

#5142 Shield verification of mints
  ironfish/src/consensus/__fixtures__/verifier.evm.test.slow.ts.fixture
  ironfish/src/consensus/verifier.evm.test.slow.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/evm/evm.ts
  ironfish/src/testUtilities/fixtures/transactions.ts
  ironfish/src/testUtilities/helpers/transaction.ts
Labels: EVM

#5157 Changes how EVM is instantiated.
  ironfish-cli/src/commands/evm/deploy-contract.ts
  ironfish-cli/src/commands/test-evm.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/evm/evm.ts
Labels: EVM

#5154 add check for verification of unshield/burns
  ironfish/src/consensus/__fixtures__/verifier.evm.test.slow.ts.fixture
  ironfish/src/consensus/verifier.evm.test.slow.ts
  ironfish/src/consensus/verifier.ts
Labels: EVM

#5156 add all functions to global contract
  .gitignore
  ironfish-cli/src/commands/evm/deploy-contract.ts
  ironfish-contracts/artifacts/contracts/Ironfish.sol/Ironfish.json
  ironfish-contracts/contracts/Ironfish.sol
  ironfish-contracts/index.ts
  ironfish-contracts/package.json
  ironfish-contracts/tsconfig.json
  ironfish/package.json
  ironfish/src/consensus/__fixtures__/verifier.evm.test.slow.ts.fixture
  ironfish/src/consensus/verifier.evm.test.slow.ts
  ironfish/src/evm/evm.ts
  ironfish/src/evm/globalContract.ts
  ironfish/src/evm/index.ts
  lerna.json
  package.json
  yarn.lock
Labels: EVM

#5166 Dont serialize rpc notes if not passed in
  ironfish/src/rpc/routes/chain/__fixtures__/serializers.test.ts.fixture
  ironfish/src/rpc/routes/chain/serializers.test.ts
  ironfish/src/rpc/routes/chain/serializers.ts
  ironfish/src/rpc/routes/chain/types.ts
Labels: breaking-change-rpc

#5168 add global contract on startup
  ironfish-cli/src/commands/evm/shield-custom-asset.ts
  ironfish-cli/src/commands/evm/shield-iron.ts
  ironfish-contracts/artifacts/contracts/Ironfish.sol/Ironfish.json
  ironfish-contracts/contracts/Ironfish.sol
  ironfish/package.json
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/evm/evm.ts
Labels: EVM
